@model Capston_Clean_Slate2.Models.Employee

<br /><hr /><br />
<div class="col-lg-12">
    <div class="row" style="height: 475px; width: 100%">
        <div class="col-lg-6">
            @Html.Partial("EmployeeHome")
        </div>
        <div class="col-lg-6">
            @Html.Partial("_RequestDays")
        </div>
    </div>
    <div class="row" style="width: 100%; padding-top: 1rem;">
        <div class="col-lg-12">
            @Html.Partial("DisplayNetPay")
        </div>
    </div>
</div>