@{
    ViewBag.Title = "NotEnoughVacation";
}

<h1>You do not have enough vacation days left for this request.</h1>
<br /><br /><br /><br /><br /><br />

@Html.ActionLink("Request Days Off", "RequestDayOff", "Employees")
@Html.ActionLink("Home", "Index", "Home")