@{
    ViewBag.Title = "NotEnoughPersonalDays";
}

<h1>You do not have enough personal days left for this request.</h1>
<br /><br /><br /><br /><br /><br />

@Html.ActionLink("Request Days Off", "RequestDayOff", "Employees")
<br />
@Html.ActionLink("Home", "Index", "Home")