@model Capston_Clean_Slate2.Models.Employee

@{
    ViewBag.Title = "RequestDayOff";
}

<div class="row">
    <section class="col-md-12">
        @Html.Partial("RequestDayOffPartial")
    </section>
</div>